/*
Site Footer
---------------------------------------------------------------------------------------------------- */

.site-footer {
	font-size: $footer-font-size;
	padding: 40px 0;
}

.site-footer a:hover {
	border-bottom: 0;
}

.site-footer p {
	margin: 0;
}