/*
Widgets
---------------------------------------------------------------------------------------------------- */

.widget p:last-of-type {
	margin-bottom: 0;
}

/* Home Welcome
--------------------------------------------- */

.home-welcome {
	background-color: $blue;
	padding: 40px 0;
	text-align: center;

	@include media($smaller-screen-up) {
		padding-bottom: 0;
	}
}

.home-welcome .widgettitle {
	color: $white;
	font-family: $heading-alt-font-family;
	font-weight: 400;
	text-transform: none;
}

.home-welcome p,
.home-welcome .textwidget {
	color: lighten($black, 92);

	@include media($smaller-screen-up) {
		font-size: $box-title-size;
		line-height: normal;
		margin-bottom: 34px;
	}
}

/* Home Announce
--------------------------------------------- */

.home-announce {
	@include outer-container(100%);
	background-color: $blue;
}

.home-announce .wrap {
	background-color: $light-blue;
	border-radius: $border-radius ;
	width: $wrap-max-width-large;

	@include media($smaller-screen-up) {
		padding: 30px 80px !important;
	}

}

.home-announce h4.widgettitle {
	color: $blue;
	font-size: $h4-font-size;
	font-weight: 400;
	letter-spacing: 2px;
	margin: 0;
	padding: 10px 0;
	text-align: center;
}

.home-announce .hr {
	background: rgba(135, 179, 199, 0.4);
	height: 5px;
	margin: 0 auto 25px auto;
	width: 60%;
}

.announce-podcast-date {
	color: $green;
	font-family: $base-font-family;
	font-size: $box-title-size;
	font-weight: 700;
	line-height: normal;
}

.announce-podcast-title {
	font-family: $base-font-family;
	color: $blue;
	font-weight: 700;
	line-height: normal;
	margin-bottom: 8px;

	@include media($small-screen-up) {
		line-height: 1.1;
	}
}

/* Home Optin & Utility Bar
--------------------------------------------- */


.utility-bar {
	background-color: $green;
	color: $white;
	font-size: $secondary-font-size;
	margin: 0 auto;
	padding: 40px 0 0;
	width: 100%;
}

.utility-bar .wrap {
	max-width: $base-wrap-max-width;
}

.utility-bar a {
	color: $white;
}

.utility-bar a:hover {
	border-bottom: 0;
}

.utility-bar p,
.utility-bar .widgettitle {
	color: $white;
	margin: 0;
}

.home-optin {
	background: $blue;
	font-size: $secondary-font-size;
	position: relative;
	padding: 0 0 40px 0;
}

.home-optin .wrap {
	background: $green;
	border-radius: 0 0 $border-radius $border-radius;
	padding: 40px 0 0;
	width: $base-wrap-max-width;

	@include media($small-screen-up) {
		min-height: 120px;
	}

}

.home-optin .widget {
	color: $white;
	padding: 0 20px;
}

.utility-bar .enews-widget p,
.home-optin .enews-widget p {
	margin-bottom: 12px;
}

.utility-bar .enews-widget .widgettitle,
.home-optin .enews-widget .widgettitle {
	font-family: $heading-alt-font-family;
	font-size: $secondary-font-size;
	text-transform: uppercase;
}

.utility-bar form,
.home-optin form {
	display: inline;
}

.utility-bar .enews-widget input[type="submit"],
.utility-bar .enews input[type="email"],
.home-optin .enews-widget input[type="submit"],
.home-optin .enews input[type="email"] {
	border-radius: $form-border-radius;
	display: inline-block;
	font-size: $form-font-size;
	padding: 5px;
	width: auto;
}

.utility-bar input[type="submit"],
.home-optin input[type="submit"] {
	$background-color: $white;
}

@include media($small-screen-up) {

	.utility-bar .enews-widget .widgettitle,
	.home-optin .enews-widget .widgettitle {
		float: left;
	}

	.utility-bar .enews-widget p,
	.home-optin .enews-widget p {
		clear: left;
	}

	.utility-bar .enews-widget input[type="submit"],
	.home-optin .enews-widget input[type="submit"] {
		float: right;
	}

	.utility-bar .enews form,
	.home-optin .enews form {
		float: right;
		position: relative;
		text-align: right;
		top: -50px;
	}

	.utility-bar .enews input[type="email"],
	.home-optin .enews input[type="email"] {
		margin-right: 3px;
	}

}

/* Call to Action
--------------------------------------------- */

.call-to-action-bar {
	background: $light-grey;
	color: $medium-grey;
	padding: 20px 0;
}

.call-to-action-bar .wrap {
	text-align: center;
}

.call-to-action-bar .widgettitle {
	color: $medium-grey;
	font-size: $widget-title-size;
	font-weight: 400;
	text-align: center;
}


/* User Profile
--------------------------------------------- */


.user-profile p {
	font-color: $light-grey;
	font-family: $heading-font-family;
	font-size: $widget-title-size;
	font-weight: 400;
	letter-spacing: 1px;
	text-align: center;
	text-transform: uppercase;
}

.user-profile .avatar {
	border-radius: 100px;
	float: none;
	text-align: center;
	display: block;
	margin: 0 auto 20px;
}

/* Featured Page and Featured Post
--------------------------------------------- */

.featured-content .entry {
	border-bottom: 2px solid lighten($black, 92);
	padding: 10px 0;
}

.sidebar .featured-content .entry {
	border-bottom: 0;
	margin-bottom: 10px;
}

.featured-content .entry-title {
	font-size: 18px;
	margin: 10px 0;
}

/*
Footer Widgets
---------------------------------------------------------------------------------------------------- */

.footer-widgets {
	background: lighten($black, 11);
	color: $white;
	font-size: $box-title-size;
	padding: 40px 0;
}

.footer-widgets-1 {
	@include span-columns(12);
	text-align: center
}

.footer-widgets a {
	color: $white;
}

.footer-widgets .widget {
	margin-bottom: 24px;
}

.footer-widgets .widgettitle {
	color: $white;
	font-size: 20px;
}

.footer-widgets .entry {
	background: transparent;
}

.footer-widgets li {
	list-style-type: none;
	margin-bottom: 6px;
	word-wrap: break-word;
}

.footer-widgets .search-form input[type="search"] {
	width: 100%;
}
